<html>
	<head>
		<style>
			#title {
				text-align: center;
			}

			ul {
				list-style-type: none;
			}

			li {
				display: inline-block;
				position: relative;
				padding: 5px;
				margin: 1px;
			}

			li.past {
				background: red;
			}

			li.present {
				background: black;
			}

			li.future {
				background: green;
			}
		</style>
	</head>
	<body>
		<div id="title">
			<h1>Your life expectancy</h1>
			<h4>You have lived about {{ percentage }}% of your life.</h4>
		</div>
		<ul>
			{% for week in range(past) %}
				<li class="past"></li>
			{% endfor %}
				<li class="present"></li>
			{% for week in range(future) %}
				<li class="future"></li>
			{% endfor %}
		</ul>
	</body>
</html>
